.container-menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container-menu-bar > ul > li {
  margin-right: 20px;
  list-style: none;
}

.container-menu-bar > ul > li > a {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
}
