.container-menu-title {
  width: 100%;
}

.container-menu-title > h1 {
  margin: 15px 0px;
  font-size: 135px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.container-menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
