<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title
  menuTitle="BLOG ALEXANDRE"
></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      cardPhoto="https://i.stack.imgur.com/luaq2.png"
      cardTitle="Tabela de dados para futuras pesquisas"
      cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quod vel, veniam excepturi optio est harum nostrum delectus provident ut exercitationem magnam rerum enim, perspiciatis ipsum tenetur vitae, odio minima."
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
      smallPhoto="https://media.seudinheiro.com/uploads/2023/02/Guardians-of-the-Galaxy-Vol.-3-715x402.jpg"
      smallDescription="Saiu a nova versão do angular"
    ></app-small-card>
    <app-small-card
      smallPhoto="https://th.bing.com/th?id=OIP.iS0YZHm_GuNSRTMIsJzhpQHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
      smallDescription="Novo filme guardiões da galaxia"
    ></app-small-card>
    <app-small-card
      smallPhoto="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/08/06/383152932-i-am-groot.jpg"
      smallDescription="Eu sou Groot"
    ></app-small-card>
  </div>
</div>
