  .card {
    width: 720px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
  }

  .card__left, .card__right {
    border: 1px solid blue;
  }

  .card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }

  .card__left > h1 {
    margin-top: 15px;
    font-size: 25px;
  }

  .card__left > p {
    color: gray;
  }