.container-big-card {
  margin: 0px 20px;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.photo-big-card > img {
  height: 350px;
  width: 100%;
  min-width: 600px;
}

.title-big-card > h1 {
  margin-top: 15px;
  font-size: 20px;
}

.description-big-card {
  margin-top: 10px;
}

.description-big-card > p > a {
  color: gray;
}

a {
  text-decoration: none;
}
