<div class="container-big-card">
  <div class="photo-big-card">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt=""
      srcset="">
  </div>
  <div class="title-big-card">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="description-big-card">
    <p><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, iure molestiae laudantium recusandae provident labore veritatis dicta eveniet placeat saepe animi aperiam amet aliquam hic odit quibusdam odio minus fugit.</a></p>
  </div>
</div>
