<app-comp-atributos>
  <h2>ola</h2>
  <p>eu vim de fora</p>
</app-comp-atributos>

<app-card *ngIf="isAliveCard; else anotherBlock"></app-card>

<app-card *ngIf="false; else anotherBlock"></app-card>

<app-card *ngIf="true; else anotherBlock"></app-card>

<app-card *ngIf="isAliveCard2; else anotherBlock"></app-card>
<app-card></app-card>

<ng-template #anotherBlock>
  <p>ola sou um bloco secreto</p>
</ng-template>

<h2>Sub Module</h2>
<app-input></app-input>
<app-list-view></app-list-view>

<router-outlet></router-outlet>
