.menu-bar-item > ul {
  display: flex;
  list-style-type: none;
}

.menu-bar-item > ul > li {
  padding: 0.5rem;
  margin-right: 1.5rem;
}

.menu-bar-item > ul > li > a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-family: 'Segoe UI';
}

.menu-bar-item > ul > li > a:hover{
  color: blue;
  font-weight: 600;
}
